{% extends 'Lyrics/Base.html' %}

{% block Content %}

<div class="py-4">
    <div class="container">
        <div class="row hidden-md-up">
            {% for mod in movieDir_data %}
            <div class="col-md-4">
                <div class="card">
                    {% if mod.Upload %}
                    <img class="card-img-top" src="{{mod.Upload.url}}" alt="{{mod.FirstName}}" width="100%" height="200">
                    {% endif %}
                    <div class="card-body">
                        <a href="{% url 'movieDir_bio' mod.id %}">
                            <h5 class="card-title">{{mod.FirstName}}</h5>
                        </a>
                        <a href="{% url 'movieDir_mov' mod.id %}">
                            <h5 class="card-title btn btn-outline-dark">Songs</h5>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}