{% extends 'Lyrics/Base.html' %}

{% block Content %}

<div class="py-4">
    <div class="container">

            {% if musicDir.Upload %}
            <img src="{{musicDir.Upload.url}}" alt="{{musicDir.Movie}}" class="mx-auto d-block" width="350" height="236">
            {% endif %}

            <h5 class="card-title">Name: {{musicDir.FullName}}</h5>
            <p class="card-text"><strong>Gender:</strong> {{musicDir.Gender}}</p>
            <p class="card-text"><strong>Date of Birth: </strong>{{musicDir.DoB}}</p>
            <p class="card-text"><strong>Date of Death: </strong>{{musicDir.DOD}}</p>
            <p class="card-text"><strong>Birth Place: </strong>{{musicDir.BirthPlace}}</p>
            <p class="card-text"><strong>Awards: </strong>{{musicDir.Awards|linebreaks}}</p>

    </div>
</div>

{% endblock %}