{% extends 'Lyrics/Base.html' %}

{% block Content %}

<div class="py-4">
    <div class="container">
        <div class="row hidden-md-up">
            {% for mud in musicDir_data %}
            <div class="col-md-4">
                <div class="card">
                    {% if mud.Upload %}
                    <img class="card-img-top" src="{{mud.Upload.url}}" alt="{{mud.FirstName}}" width="100%" height="200">
                    {% endif %}
                    <div class="card-body">
                        <a href="{% url 'musicDir_bio' mud.id %}">
                            <h5 class="card-title">{{mud.FirstName}}</h5>
                        </a>
                        <a href="{% url 'musicDir_mov' mud.id %}">
                            <h5 class="card-title btn btn-outline-dark">Songs</h5>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}